- content_for :title, "Add Gears"
- breadcrumb_for_account 'Add Gears'
%h1 Add Gears
%p
  You are using #{@capabilities.consumed_gears} gears of #{@capabilities.max_gears} total gears in your account.
  %br
  %small Change your limits below.

= flashes

%form.form-horizontal.formtastic{:action => gears_path, :id => 'form-billing', :method => 'post'}
  = token_tag(nil)

  .input-append.span3
    %label New gears limit
    %input.span1.uneditable-input{:id => 'gears-number', :name => 'gears', :type => 'text', :value => '-'}
    %button.btn{:type => 'button', :id => 'remove-gear'} -
    %button.btn{:type => 'button', :id => 'add-gear'} +

  .input-prepend
    %label Currency
    %button.btn.btn-info.disabled.currency{:type => 'button', :'data-currency' => 'BRL'} R$
    %button.btn.btn-info.currency{:type => 'button', :'data-currency' => 'USD'} US$&sup3;

  %span.right-position{:id => 'message'}

  %table.table.table-fixed.table-striped{:id => 'gears', :'data-source' => 'https://' + broker_host + '/getup/subscription/prices/', :'data-currency' => 'BRL', :'data-max-gears-limit' => @account_plan[:max_gears_limit]}
    %thead
      %tr
        %th{:scope => 'col'}
        %th{:scope => 'col'} 
        %th{:scope => 'col'} Unit cost
        %th{:scope => 'col'} Cost
    %tbody
      %tr
        %td Gears
        %td{:id => 'gears-size', :'data-gears' => @capabilities.max_gears, :'data-consumed-gears' => @capabilities.consumed_gears} -
        %td{:id => 'gears-unit-cost'} -
        %td{:id => 'gears-cost'} -
      - if @account_plan[:free_tier]
        %tr
          %td Credit
          %td{:id => 'credit-size', :'data-hours' => @account_plan[:free_tier]} -
          %td{:id => 'credit-unit-cost'} -
          %td{:id => 'credit-cost'} -        
      %tr.info
        %td Monthly (estimated&sup1;)
        %td 
        %td 
        %td{:id => 'total-month'} -
      %tr.info
        %td
          Total pre-approved&sup2;
          %small * Valid for 12 months
        %td 
        %td 
        %td{:id => 'total-approved'} -

  %p
    %small 1. Monthly: Estimated cost considering the amount of gears running all time for an entire month. This is also the max amount we will charge you by month.

  %p
    %small 2. Total pre-approved: For security reasons, this pre-approval is valid for 12 months and the sum of all monthly charges cannot exceed R$ 3.996,00 or US$ 1.998,00. When the value or validity of pre-approval is about to expire or be exceeded, we will ask you for another pre-approval operation.

  %p
    %small 3. Due to Paypal's policy, we can only charge you in Brazilian currency. When you receive your bill, it will be in R$ (Reais) instead of US$. Any problems or questions, feel free to contact us at anytime.

  %fieldset
    = link_to "Cancel", account_path, :class => 'btn'
    %button.btn.btn-danger.update{:type => 'submit'} Buy with Paypal...

- content_for :javascripts do
  = javascript_include_tag 'gears'
