= breadcrumb_for_application @application, I18n.t(:New_Alias)
= content_for :page_title, I18n.t(:New_Alias)

%h1= I18n.t(:New_Alias)
=flashes

%section
  = semantic_form_for @alias, :url => application_aliases_path(@application), :html => {:method => :post, :class => 'form-horizontal', :multipart => true} do |f|

    %p
      = I18n.t(:alias_caption_1)
      %strong= @application.name + ':'
    %ol
      %li= link_to(I18n.t(:alias_caption_2), alias_docs_url)
      %li= I18n.t(:alias_caption_3)

    = f.semantic_errors

    = f.inputs do
      .control-group
        %label.control-label= I18n.t(:Application_URL)
        .controls
          %h3= "#{URI::parse(@application.web_url).host}"
          %p.help-block= I18n.t(:alias_caption_4)
      = f.input :id, :label => I18n.t(:Domain_name), :required => true, :input_html => {:placeholder => 'example.com'}, :hint =>I18n.t(:alias_domain_caption)

      .platform

        %h2= I18n.t(:SSL_Certificate)

        - if !@private_ssl_certificates_supported
          .alert.alert-warning
            = I18n.t(:alias_not_allow)
            = link_to I18n.t(:View_your_account), settings_path
        - else 
          %p
            -I18n.t(:alias_ssl_caption)

        .file.optional.control-group
          %label.control-label{:for => 'certificate_file'} 
            = I18n.t(:SSL_Certificate)
            %abbr{:title => 'required'} *
          .controls
            = f.file_field :certificate_file, :id => 'certificate_file', :disabled => !@private_ssl_certificates_supported 
            %p.help-block= I18n.t(:alias_ssl_help)

        .file.optional.control-group
          %label.control-label{:for => 'certificate_chain_file'} 
            = I18n.t(:alias_cert_chain)
          .controls
            = f.file_field :certificate_chain_file, :id => 'certificate_chain_file', :disabled => !@private_ssl_certificates_supported 
            %p.help-block= I18n.t(:alias_cert_chain_help)

        .file.optional.control-group
          %label.control-label{:for => 'certificate_private_key_file'} 
            =I18n.t(:alias_cert_priv)
            %abbr{:title => 'required'} *
          .controls
            = f.file_field :certificate_private_key_file, :id => 'certificate_private_key_file', :disabled => !@private_ssl_certificates_supported 
            %p.help-block= I18n.t(:alias_cert_priv_help)

        .string.optional.control-group
          %label.control-label{:for => 'certificate_pass_phrase'} 
            = I18n.t(:alias_cert_pass)
          .controls
            = f.text_field :certificate_pass_phrase, :id => 'certificate_pass_phrase', :disabled => !@private_ssl_certificates_supported 
            %p.help-block= I18n.t(:alias_cert_pass_help)

    = f.buttons do
      = link_to I18n.t(:Cancel), application_path(@application), :class => 'btn'
      = f.commit_button :label => I18n.t(:Save)
      = f.loading

  - content_for :javascripts do
    :javascript
      $('.delete-certificate').popover({
        content: function() { return $(this).next('.popover-delete-certificate').html(); }
      }).click(function() { return false; });

      $('.cancel-delete-certificate').live('click', function() { 
        $(this).closest('.popover').prev('.delete-certificate').popover('hide');
        return false; 
      });

