- breadcrumb_for_application @application, "Alias '#{@alias.name}'"
- content_for :page_title, "Alias '#{@alias.name}'"

%h1= "Alias '#{@alias.name}'"
=flashes

%section
  %p
    != I18n.t(:alias_caption_5, cname: link_to(I18n.t(:alias_caption_5_cname), alias_docs_url))
    %br
    != I18n.t(:alias_caption_6, name: @alias.name, app: URI::parse(@application.web_url).host)

  %p
    .row
      .span9
        .form-horizontal
          %fieldset.inputs
            .control-group
              %label.control-label= I18n.t(:Domain_name)
              .controls
                %h3= "#{@alias.name} → #{URI::parse(@application.web_url).host}"
                %p.help-block= I18n.t(:alias_delete_caption_1)
      .span3
        .popover-delete-alias.hide
          = semantic_form_for @application, :url => application_alias_path(@application, @alias), :html => {:method => :delete, :class => 'form'} do |f|
            %p= I18n.t(:alias_delete_caption_2)
            %p
              =I18n.t(:alias_delete_ask)
              %strong= @alias.name
              ?
            = f.buttons do
              = link_to I18n.t(:Cancel), @referer || application_path(@application), :class => 'btn cancel-delete-alias'
              = f.commit_button :label => I18n.t(:Delete), :button_html => {:class => 'btn btn-danger'}
              = f.loading
        = link_to I18n.t(:Delete) + ' Alias', application_alias_delete_path(@application, @alias) << "?id=#{@alias.name}", { 'data-html' => 'true', 'data-placement' => 'bottom', :class => 'btn btn-danger delete-alias', :title => 'Delete Alias'}

  - if @alias.has_private_ssl_certificate?
    %p
      .row
        .span9
          .form-horizontal
            %fieldset.inputs
              .control-group
                %label.control-label= I18n.t(:SSL_Certificate)
                .controls
                  %h3= 'added ' << @alias.certificate_added_at.strftime("%a, %B #{@alias.certificate_added_at.day.ordinalize} %Y").downcase
                  %p.help-block= I18n.t(:alias_cert_timestamp)
        .span3
          .popover-delete-certificate.hide
            = semantic_form_for @alias, :url => application_alias_path(@application, @alias), :html => {:method => :put, :class => 'form'} do |f|
              %p= I18n.t(:alias_cert_del_caption_1)
              %p
                =I18n.t(:alias_cert_del_ask)
              = f.buttons do
                = link_to I18n.t(:Cancel), @referer || application_path(@application), :class => 'btn cancel-delete-certificate'
                = f.commit_button :label => I18n.t(:Delete), :button_html => {:class => 'btn btn-danger'}
                = f.loading
          = link_to I18n.t(:Delete_Certificate), application_alias_delete_path(@application, @alias) << "?id=#{@alias.name}", { 'data-html' => 'true', 'data-placement' => 'bottom', :class => 'btn btn-danger delete-certificate', :title => 'Delete Certificate'}

  .platform

    %h2 SSL Certificate

    - if !@private_ssl_certificates_supported
      .alert.alert-warning
        =I18n.t(:alias_no_allow)
        = link_to I18n.t(:View_your_account), settings_path

    = semantic_form_for @alias, :url => application_alias_path(@application, @alias), :html => {:method => :put, :class => 'form-horizontal', :multipart => true} do |f|

      - if @alias.has_private_ssl_certificate?
        %p
          = I18n.t(:alias_cert_overwrite)
      - else
        %p
          = I18n.t(:alias_ssl_caption)

      .file.optional.control-group
        %label.control-label{:for => 'certificate_file'} 
          = I18n.t(:SSL_Certificate)
          %abbr{:title => 'required'} *
        .controls
          = f.file_field :certificate_file, :id => 'certificate_file', :disabled => !@private_ssl_certificates_supported 
          %p.help-block= I18n.t(:alias_ssl_help)

      .file.optional.control-group
        %label.control-label{:for => 'certificate_chain_file'} 
          = I18n.t(:alias_cert_chain)
        .controls
          = f.file_field :certificate_chain_file, :id => 'certificate_chain_file', :disabled => !@private_ssl_certificates_supported 
          %p.help-block= I18n.t(:alias_cert_chain_help)

      .file.optional.control-group
        %label.control-label{:for => 'certificate_private_key_file'} 
          = I18n.t(:alias_cert_priv)
          %abbr{:title => 'required'} *
        .controls
          = f.file_field :certificate_private_key_file, :id => 'certificate_private_key_file', :disabled => !@private_ssl_certificates_supported 
          %p.help-block= I18n.t(:alias_cert_priv_help)

      .string.optional.control-group
        %label.control-label{:for => 'certificate_pass_phrase'} 
          = I18n.t(:alias_cert_pass)
        .controls
          = f.text_field :certificate_pass_phrase, :id => 'certificate_pass_phrase', :disabled => !@private_ssl_certificates_supported 
          %p.help-block= I18n.t(:alias_cert_pass)

      = f.buttons do
        = link_to I18n.t(:Cancel), application_path(@application), :class => 'btn'
        = f.commit_button :label => I18n.t(:Save)
        = f.loading

- content_for :javascripts do
  :javascript

    $('.delete-alias').popover({
      content: function() { return $(this).prev('.popover-delete-alias').html(); }
    }).click(function() { return false; });
    $('.cancel-delete-alias').live('click', function() { 
      $(this).closest('.popover').prev('.delete-alias').popover('hide');
      return false; 
    });

    $('.delete-certificate').popover({
      content: function() { return $(this).prev('.popover-delete-certificate').html(); }
    }).click(function() { return false; });
    $('.cancel-delete-certificate').live('click', function() { 
      $(this).closest('.popover').prev('.delete-certificate').popover('hide');
      return false; 
    });

