- type = application_type
= div_for type, :class => 'tile tile-click tile-featured label-tags' do
  %h3
    = link_to type.display_name, application_type_path(type)

    - if type.usage_rates?
      = usage_rate_indicator

  .font-icon-block  
    - if type.cartridge?
      %span.font-icon{"aria-hidden" => "true", "data-icon" => "\ue021", "title" => "Cartridge"}
    - elsif type.quickstart?
      %span.font-icon{"aria-hidden" => "true", "data-icon" => "\ue029", "title" => "QuickStart"}

  = show_description type.description

  - if type.learn_more_url
    %p.help-block= link_to I18n.t(:Learn_more), type.learn_more_url
  - elsif type.website
    %p.help-block= link_to type.website, type.website

  %p.help-block
    - case type.support_type
    - when :openshift
      %span.label-support.label-support-openshift{:title => I18n.t(:cart_maintained_team_title)}= I18n.t(:cart_maintained_team)
    - when :partner
      %span.label-support.label-support-openshift{:title => I18n.t(:cart_maintained_partner_title)}= I18n.t(:cart_maintained_partner)
    - else
      %span.label-support.label-support-community.text-warning{:title => I18n.t(:cart_maintained_community_title)}= I18n.t(:cart_maintained_community)

    - unless type.automatic_updates?
      %span.text-warning{:title => I18n.t(:cart_maintained_warning)}
        = I18n.t(:cart_maintained_warning_2)


  - if type.tags.include? :in_development
    %p= I18n.t(:devel_cart)

  = application_type_tags(type.tags - excluded_tags)
