%h2= I18n.t(:token_usage_title)

%p!= I18n.t(:token_usage_caption_1)
%pre.code
  Authorization: Bearer #{authorization.token}

%p!= I18n.t(:token_usage_caption_2)
%pre.cli
  curl #{RestApi.info.url}/user -H "Authorization: Bearer #{authorization.token}"

%p!= I18n.t(:token_usage_caption_3)
%pre.cli
  rhc apps --token #{authorization.token}
