- breadcrumb_for_application @application, I18n.t(:Scale_your_Application)
- content_for :page_title, I18n.t(:Scale_your_Application)

%h1= I18n.t(:Scale_your_Application)

%section#scaling-gear-groups
  - @cartridges.each do |cartridge|
    .gear-group.tile
      %h2
        = cartridge.display_name
        - if cartridge.scales?
          %span.pull-right= I18n.t(:Using) + " #{pluralize(cartridge.current_scale, 'gears')}"

      - if cartridge.scales?
        = semantic_form_for cartridge,
                            :simple => true,
                            :method => :put,
                            :url => application_scaling_cartridge_path(@application.id, cartridge.name) do |f|

          = f.semantic_errors :except => [:scales_to, :scales_from]

          - if cartridge.tags.include?(:web_framework)
            %p!= I18n.t(:scale_caption_1,
              haproxy: link_to(I18n.t(:the_web_proxy_HAProxy), scaling_help_url))

          %p= I18n.t(:Control_the_number_of_gears)

          = f.inputs :inline => true, :without_errors => true do
            .input-prepend
              %span.add-on= I18n.t(:Minimum)
              = f.input :scales_from, scale_from_options(cartridge, @user.max_gears).merge({:input_html => {:style => 'width: auto', :title => I18n.t(:Minimum_gears)}})
            = I18n.t(:and_)
            .input-prepend
              %span.add-on= I18n.t(:Maximum)
              = f.input :scales_to, scale_to_options(cartridge, @user.max_gears).merge({:input_html => {:style => 'width: auto', :title => I18n.t(:Maximum_gears)}})

            = I18n.t(:using)
            #{cartridge.gear_profile} gears

            = f.commit_button :label => I18n.t(:Save), :button_html => {:class => 'btn btn-small'}
            = f.loading

            -# Scaling errors are currently reported to base, but if they get reported here, this will work
            - if [cartridge.errors[:scales_from], cartridge.errors[:scales_to]].flatten.compact.present?
              .control-group.control-group-important.error.help-block
                = f.semantic_errors :scales_from, :scales_to, :class => [:unstyled, :errors, 'help-block']

        - if cartridge.tags.include?(:web_framework)

          %hr

          %p= I18n.t(:scale_caption_2)

          %p= I18n.t(:For_status_information)

          %p.application-url.larger
            = link_to @application.scale_status_url, @application.scale_status_url, :target => '_blank'

      - elsif cartridge.tags.include? :scales
        %p= I18n.t(:This_cartridge_assists_other_cartridges)
      - else
        %p= I18n.t(:This_cartridge_does_not_scale)
  %p
    = I18n.t(:For_more_information)
    #{link_to I18n.t(:our_scaling_guide), scaling_help_url}.

- content_for :javascripts do
  :javascript
    jQuery('#scaling-gear-groups FORM').each(function() {
      btn = $('INPUT.btn', this)[0];
      $('SELECT', this).change(function() {
        $(btn).addClass('btn-primary');
      });
      $('INPUT', this).change(function() {
        $(btn).addClass('btn-primary');
      });
    });
