- input_html = { :class => input_class } if defined? input_class

= semantic_form_for key, :simple => true do |f|
  = f.semantic_errors :except => [:name, :raw_content, :content, :type]
  = f.inputs do
    = f.hidden_field :name, :value => current_user_id
    = f.hidden_field :first, :name => 'first', :value => true
    = f.input :raw_content,
              :as => :text,
              :label => I18n.t(:key_paste_caption),
              :input_html => input_html.merge({:placeholder => I18n.t(:pub_key_form_placeholder), :title => I18n.t(:pub_key_form_title)})
  = f.buttons do
    = f.commit_button :label => I18n.t(:Save), :button_html => { :class => 'btn btn-danger' }
    = f.loading
