#footer-nav
  .container
    .row
      %nav.span4
        %header
          %h3= I18n.t(:Developers)
        %ul.unstyled
          %li= link_to I18n.t(:Get_Started), getting_started_path
          //%li= link_to 'User Guide', user_guide_url
          %li= link_to 'FAQ', faq_url
          %li= link_to 'IRC Channel', irc_web_url

      %nav.span8
        %address
          %p
            = link_to 'Getupcloud.com', getupcloud_url
            %strong GROW IN THE CLOUD.


%section#copyright
  .container!= I18n.t(:footer_caption_1, github: link_to(I18n.t(:footer_github), origin_server_url), readme: link_to('README.md', origin_server_source_path_url('README.md')))
