- breadcrumb_for_application @application, I18n.t(:add_a_cartridge)
- content_for :page_title, I18n.t(:Next_Steps)

- if @wizard
  = cartridge_wizard_steps_create 2, :completed => true
  %h1.invisible= I18n.t(:Next_Steps)
- else
  %h1= I18n.t(:Next_Steps)

= flashes

.row
  .span7
    -# client
    %h2= I18n.t(:managing_cartridge)
    %p!= I18n.t(:rhc_caption, link: link_to(I18n.t(:rhc_link),client_tools_install_help_url))

    %p= I18n.t(:rhc_cart_list)

    %pre.cli
      = preserve do
        :escaped
          rhc cartridge list

    %p= I18n.t(:rhc_cart_man)

    %pre.cli
      = preserve do
        :escaped
          rhc cartridge start -a #{@application.name} -c #{@cartridge.name}
          rhc cartridge stop -a #{@application.name} -c #{@cartridge.name}
          rhc cartridge restart -a #{@application.name} -c #{@cartridge.name}
          rhc cartridge reload -a #{@application.name} -c #{@cartridge.name}
          rhc cartridge status -a #{@application.name} -c #{@cartridge.name}

    %p
      =I18n.t(:rhc_cart_rm)
      .warning= I18n.t(:rhc_cart_rm_warn)

    %pre.cli
      = preserve do
        :escaped
          rhc cartridge remove -a #{@application.name} -c #{@cartridge.name}

  .span5
    %h2= I18n.t(:Cartridge_info)
    = render :partial => @cartridge_type, :locals => {:hide_link => true, :extra_info => true}

    %h2= I18n.t(:app_acessing)
    %p!= I18n.t(:app_create_summary, app: link_to(I18n.t(:app_create_summary_link), application_path(@application)))
