- content_for :title, "Add Gears"
- breadcrumb_for_account 'Add Gears'
%h1 Done!
%p
  The resources are available, you can start using them now.
  %br
  Unfortunately, our payment system with Paypal is under tests, so when this phase is completed we will send to you an email to approve the payment.

%p
  %small
    If you are not a Paypal user yet, #{link_to "create your account", "https://www.paypal.com/br/cgi-bin/webscr?cmd=_registration-run&amp;from=PayPal"}. You'll need it.

%p
  Gears:
  %small
    #{@result[:max_gears]}
  %br
  Approved Amount:
  %small
    R$ #{@result[:preapproval][:amount]}
  %br
  Approved Total:
  %small
    R$ #{@result[:preapproval][:total_amount]}

= link_to "Continue...", account_path, :class => 'btn'
