- content_for :title, "Add Gears"
- breadcrumb_for_account 'Add Gears'
%h1 Almost done!
%p
  Unfortunately, our payment system with Paypal is under tests, so when this phase is completed we will send to you an email to approve the payment.
  %br
  Even though the resources are available, you can start using them now.

%p
  %small
    If you are not a Paypal user yet, #{link_to "create your account", "https://www.paypal.com/br/cgi-bin/webscr?cmd=_registration-run&amp;from=PayPal"}. You'll need it.

%p
  Gears:
  %small
    #{@result[:max_gears]}
  %br
  Approved Amount:
  %small
    R$ #{@result[:preapproval][:amount]}
  %br
  Approved Total&sup1;:
  %small
    R$ #{@result[:preapproval][:total_amount]}
%br
%p
  %small 1. Due to Paypal's policy, we can only charge you in Brazilian currency. When you receive your bill, it will be in R$ (Reais) instead of US$. Any problems or questions, feel free to contact us at anytime.

= link_to "Continue...", account_path, :class => 'btn'
