= content_for :title, I18n.t(:token_edit_title)

%h1= I18n.t(:authz_title)
= flashes

= semantic_form_for @authorization, :html => {:class => 'form'} do |f|
  = f.semantic_errors :except => :note
  = f.inputs do

    %section
      %pre.larger{:style => 'word-break: break-all;'}= @authorization.token

      %p= I18n.t(:token_caption_4)
      %table.table
        %thead
          %tr
            %th{:scope => 'col'}= I18n.t(:Scope)
            %th{:scope => 'col'}= I18n.t(:Description)
        %tbody
          - @authorization.scopes.each do |s|
            - if scope = @scope_definitions.find{ |scope| scope[:match] ? s.match(scope[:match]) : scope[:id].to_s == s.to_s }
              %tr
                %td{:scope => 'row'}= scope[:id]
                %td= scope[:description]

      = f.input :note, :as => :text, :label => I18n.t(:token_change_desc), :input_html => {:class => 'span6', :rows => 2}

  = f.buttons do
    = link_to I18n.t(:Cancel), settings_path, :class => 'btn'
    = f.commit_button :label => I18n.t(:Save), :button_html => {:title => I18n.t(:update_auth_help)}
    = f.loading
