%h2= I18n.t :Billing

%p= I18n.t :billing_history_caption

.btn-toolbar
  = link_to I18n.t(:Invoices), billing_index_path, :class => 'btn btn-small btn-danger'

%p= I18n.t :addr_info_caption

.btn-toolbar
  %p
    = link_to I18n.t(:Contact), edit_primary_address_path, :class => 'btn btn-small btn-danger'
    = link_to I18n.t(:Billing), edit_billing_address_path, :class => 'btn btn-small btn-danger'
