= content_for :page_title, I18n.t(:My_Account)
%h1= I18n.t(:My_Account)
= flashes

.row
  .span7
    %section
      = render :partial => 'gears', :locals => {:capabilities => @capabilities, :payment=> @payment}

    %secion
      = render :partial => 'validate', :locals => {:capabilities => @capabilities, :payment=> @payment}

  .span5
    %section
      = render :partial => 'billing'
