= breadcrumb_for_application @application, I18n.t(:build_disable)
= content_for :page_title, I18n.t(:build_disable)

%h1= I18n.t(:build_disable)

= semantic_form_for @application, :url => application_building_path(@application), :html => {:method => :delete, :class => 'form'} do |f|
  %p!= I18n.t(:build_disable_caption_1, jenkins: link_to('Jenkins', jenkins_help_url))

  %p= I18n.t(:build_disable_ask)

  = f.semantic_errors
  = f.buttons do
    = link_to I18n.t(:Cancel), @referer || application_path(@application), :class => 'btn'
    = f.commit_button :label => I18n.t(:Disable) + " Jenkins", :button_html => {:class => 'btn btn-danger'}
    = f.loading
