= breadcrumb_for_application @application, I18n.t(:build_enable)
= content_for :page_title, I18n.t(:build_enable)

%h1= I18n.t(:jenkins_caption_4)
= flashes

%section
  = semantic_form_for @jenkins_server, :url => application_building_path(@application), :html => {:method => :post, :class => 'form form-horizontal'} do |f|
    %p= I18n.t(:build_enable_caption_1)

    = f.semantic_errors

    - if @jenkins_server.persisted?


      %h2= I18n.t(:Build_server_available)
      %p!= I18n.t(:build_enable_caption_2, app: link_to(@jenkins_server.name, application_path(@jenkins_server)))

      %p.well.application-url.larger
        = link_to @jenkins_server.web_url, @jenkins_server.web_url

    - else
      %h2= I18n.t(:Create_server)
      %p= I18n.t(:build_create_caption_1)

      - errors = @jenkins_server.errors.full_messages.present?
      = f.inputs do
        = f.semantic_errors :name, :not => :base
        .control-group.control-group-important{:data => errors ? {:"server-error" => 'true'} : {}}
          %h3.control-label= I18n.t(:public_url)
          .controls
            = render :partial => 'applications/name', :locals => {:form => f, :application => @jenkins_server}

    %h2= I18n.t(:Create_cartridge)
    %p= I18n.t(:build_create_cart_caption_1)

    - render :partial => @cartridge_type, :locals => {:hide_link => true, :extra_info => true, :application => @application}

    - unless @jenkins_server.persisted?
      %p= I18n.t(:build_create_cart_caption_2)
    %p= I18n.t(:build_enable_ask)

    = f.buttons do
      = link_to I18n.t(:Back), application_path(@application), :class => 'btn'
      = f.commit_button(I18n.t(:Add_Jenkins))
      = f.loading
