= breadcrumb_for_application @application, I18n.t(:Building_your_Application)
= content_for :page_title, I18n.t(:Building_your_Application)

%h1= I18n.t(:Building_your_Application)

%section
  %p!= I18n.t(:build_caption_1, jenkins: link_to('Jenkins', jenkins_help_url))

  %p.well.application-url.larger
    = link_to @application.build_job_url, @application.build_job_url

  %p!= I18n.t(:build_caption_2, rm_jenkins: link_to(I18n.t(:build_rm_jenkins), delete_application_building_path(@application)))
