= content_for :title, I18n.t(:change_namespace)
= breadcrumb_for_settings I18n.t(:change_namespace)
%h1= I18n.t(:change_namespace)
.alert.alert-warning
  %strong!= I18n.t(:change_namespace_warning)
= render :partial => 'form', :locals => { :domain => @domain }
