- content_for :title, "Change password"
- breadcrumb_for_settings 'Change password'
%h1 Change password
= flashes

%form.form-horizontal.formtastic{:action => password_settings_path, :id => 'form-change-password', :method => 'post'}
  = token_tag(nil)
  %p
    To change your password, enter your old password and the new password in the fields below.
  %fieldset.inputs
    .string.required.control-group
      %label.control-label Old Password
      .controls
        = password_field_tag 'old-password', '', :placeholder => "Old Password"

    .string.required.control-group
      %label.control-label New Password
      .controls
        = password_field_tag 'password', '', :placeholder => "New Password"
        
    .string.required.control-group
      %label.control-label New Password Again
      .controls
        = password_field_tag 'verify-password', '', :placeholder => "New Password Again"

  %fieldset.form-actions
    = link_to "Cancel", settings_path, :class => 'btn'
    %button.btn.btn-danger.update{:type => 'submit'} Change
