- content_for :title, 'Reset Password'

%div.content
  %header.getup
    .wrap
      %h1.getup-sprite.logo Getup
      %h2.app Openshift Console

  %section
    %div.signin{ :id => 'reset' }
      %h2 Choose a new password
      %form{:action => update_path, :id => 'form-reset', :method => 'post'}
        %fieldset
          = token_tag(nil)
          = password_field_tag 'password', '', :placeholder => "New Password", :required => ''
          = password_field_tag 'verify-password', '', :placeholder => "New Password Again", :required => ''

          %button.getup-sprite Save

    = flashes

= javascript_include_tag 'auth_reset'
