= content_for :title, I18n.t(:Reset_Password)

%div.content
  %header.getup
    .wrap
      %h1.getup-sprite.logo Getup
      %h2.app Openshift Console

  %section
    %div.signin{ :id => 'reset' }
      %h2= I18n.t(:pass_reset_caption)
      %form{:action => update_path, :id => 'form-reset', :method => 'post'}
        %fieldset
          = token_tag(nil)
          = password_field_tag 'password', '', :placeholder => I18n.t(:new_password), :required => ''
          = password_field_tag 'verify-password', '', :placeholder => I18n.t(:new_password_again), :required => ''

          %button.getup-sprite Save

    = flashes

= javascript_include_tag 'auth_reset'
