:css
  #not_found {
    min-height: 450px;
    background-image: 
      url('/app/images/panda404_400.png');
    background-position: 
      center top;
    background-repeat: 
      no-repeat;
  }
  @media  (max-width: 479px) {
    #not_found {
      background-image: 
        url('/app/images/panda404_250.png');
      background-position: 
        center top;
      min-height: 335px;
    }
  }
  @media (min-width: 480px) and (max-width: 767px) {
    #not_found {
      background-image: 
        url('/app/images/panda404_300.png');
      background-position: 
        center top;
      min-height: 400px;
    }
  }
  @media (min-width: 768px) and (max-width: 979px) {
    #not_found {
      background-image: 
        url('/app/images/panda404_350.png');
    }
  }
   
  h1 span {
    font-size: 16px;
    color: #888;
    color: rgb(136, 136, 136);
    text-shadow: none;
  }

= content_for :page_title, @message || I18n.t(:error_title)

%h1= @message || I18n.t(:error_title)

%p!= I18n.t(:error_reload)

%p= I18n.t(:error_try_also)

%ul.spaced-items
  %li!= I18n.t(:error_try_also_1, forum: link_to(I18n.t(:help_forum), forum_path))
  %li!= I18n.t(:error_try_also_2, email: link_to(support_email, 'mailto:' + support_email))
  %li= I18n.t(:error_try_also_3)
  %li!= I18n.t(:error_try_also_4, irc: link_to(I18n.t(:help_irc), irc_web_url))

- if @reference_id
  %p.error-reference Reference ##{@reference_id}

